<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
{{ 'freegifts-main.css' | asset_url | stylesheet_tag }}
{{ 'freegifts-custom.css' | asset_url | stylesheet_tag }}
<div id="freegifts-main-popup-container" class="freegifts-main-container sca-modal-fg"
     data-animation="slideInOutTop"></div>
<div class="toast" id="add-gift-success-toast"></div>

<script src="{{ 'freegifts-offers-data.js' | asset_url }}"></script>
<script type="text/javascript">
    if (typeof Shopify === "undefined") var Shopify = {};
    Shopify.cartItems = {};
    Shopify.products = {};
    Shopify.current_product = {};
    Shopify.current_collection = {};

    //cart item
    {% for item in cart.items %}
        Shopify.cartItems["{{ item.id }}"] = {{ item | json }}
        Shopify.cartItems["{{ item.id }}"]['collections'] = [];
        Shopify.cartItems["{{ item.id }}"]['tags'] = {{ item.product.tags | json }};
        {% for collection in item.product.collections %}
            Shopify.cartItems["{{ item.id }}"]['collections'].push({{ collection | json }});
        {% endfor %}
    {% endfor %}

    // current product or collection
    Shopify.current_product = {{ product | json }};
    {% if product.collections %}
        Shopify.current_product['collections'] = {{ product.collections | json }};
    {% endif %}

    Shopify.current_collection = {{ collection | json }};
    {% if collection.products %}
        Shopify.current_collection['products'] = {};
    {% endif %}
    {% for product in collection.products %}
        Shopify.current_collection['products']["{{ product.id }}"] = {{ product | json }};
        Shopify.current_collection['products']["{{ product.id }}"]['collections'] = {{ product.collections | json }};
    {% endfor %}

    //liquid code to get customer history and customer tag
    {% if product.tags contains "freegifts" and product.metafields.secomapp['freegifts.product_url'] and template == 'product' or template == 'product.sca-fg-product' %}
        window.location.replace("{{ product.metafields.secomapp['freegifts.product_url'] }}");
    {% endif %}
    {% if collection.template_suffix == "sca-fg-collection" and collection.metafields.secomapp['freegifts.collection'] and template == 'collection' or template == 'collection.sca-fg-collection' %}
        window.location.replace("/collections/all");
    {% endif %}
    {% raw %}
    !function () {
        Array.isArray || (Array.isArray = function (e) {
            return "[object Array]" === Object.prototype.toString.call(e)
        }),
        "function" != typeof Object.create && (Object.create = function (e) {
            function t() {
            }

            return t.prototype = e, new t
        }),
        Object.keys || (Object.keys = function (e) {
            var t, o = [];
            for (t in e) Object.prototype.hasOwnProperty.call(e, t) && o.push(t);
            return o
        }),
        String.prototype.endsWith || Object.defineProperty(String.prototype, "endsWith", {
            value: function (e, t) {
                var o = this.toString();
                (void 0 === t || t > o.length) && (t = o.length), t -= e.length;
                var r = o.indexOf(e, t);
                return -1 !== r && r === t
            }, writable: !0, enumerable: !0, configurable: !0
        }),
        Array.prototype.indexOf || (Array.prototype.indexOf = function (e, t) {
            var o;
            if (null == this) throw new TypeError('"this" is null or not defined');
            var r = Object(this), i = r.length >>> 0;
            if (0 === i) return -1;
            var n = +t || 0;
            if (Math.abs(n) === 1 / 0 && (n = 0), n >= i) return -1;
            for (o = Math.max(n >= 0 ? n : i - Math.abs(n), 0); o < i;) {
                if (o in r && r[o] === e) return o;
                o++
            }
            return -1
        }),
        Array.prototype.forEach || (Array.prototype.forEach = function (e, t) {
            var o, r;
            if (null == this) throw new TypeError(" this is null or not defined");
            var i = Object(this), n = i.length >>> 0;
            if ("function" != typeof e) throw new TypeError(e + " is not a function");
            for (arguments.length > 1 && (o = t), r = 0; r < n;) {
                var a;
                r in i && (a = i[r], e.call(o, a, r, i)), r++
            }
        }),
            console = console || {}, console.log = console.log || function () {
        },
        "undefined" == typeof Shopify && (Shopify = {}), "function" != typeof Shopify.onError && (Shopify.onError = function () {
        }),
        "undefined" == typeof SECOMAPP && (SECOMAPP = {}), SECOMAPP.removeGiftsVariant = function (e) {
            setTimeout(function () {
                try {
                    e("select option").not(".sca-fg-cart-item select option").filter(function () {
                        var t = e(this).val(), o = e(this).text();
                        -1 !== o.indexOf(" - ") && (o = o.slice(0, o.indexOf(" - ")));
                        var r = [];
                        return -1 !== o.indexOf(" / ") && (r = o.split(" / "), o = r[r.length - 1]), !!(void 0 !== SECOMAPP.gifts_list_avai && void 0 !== SECOMAPP.gifts_list_avai[t] || o.endsWith("% off)")) && (e(this).parent("select").find("option").not(".sca-fg-cart-item select option").filter(function () {
                            var r = e(this).val();
                            return e(this).text().endsWith(o) || r == t
                        }).remove(), e(".dropdown *,ul li,label,div").filter(function () {
                            var r = e(this).html(), i = e(this).data("value");
                            return r && r.endsWith(o) || i == t
                        }).remove(), !0)
                    })
                } catch (e) {
                    console.log(e)
                }
            }, 500)
        },
            SECOMAPP.formatMoney = function (e, t) {
                "string" == typeof e && (e = e.replace(".", ""));
                var o = "",
                    r = "undefined" != typeof Shopify && void 0 !== Shopify.money_format ? Shopify.money_format : "{{amount}}",
                    i = /\{\{\s*(\w+)\s*\}\}/,
                    n = t || (void 0 !== this.fgsettings && "string" == typeof this.fgsettings.sca_currency_format && this.fgsettings.sca_currency_format.indexOf("amount") > -1 ? this.fgsettings.sca_currency_format : null) || r;
                if (n.indexOf("amount_no_decimals_no_comma_separator") < 0 && n.indexOf("amount_no_comma_separator_up_cents") < 0 && n.indexOf("amount_up_cents") < 0 && "function" == typeof Shopify.formatMoney) return Shopify.formatMoney(e, n);

                function a(e, t) {
                    return void 0 === e ? t : e
                }

                function s(e, t, o, r, i, n) {
                    if (t = a(t, 2), o = a(o, ","), r = a(r, "."), isNaN(e) || null == e) return 0;
                    var s = (e = (e / 100).toFixed(t)).split(".");
                    return s[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1" + o) + (s[1] ? i && n ? i + s[1] + n : r + s[1] : "")
                }

                switch (n.match(i)[1]) {
                    case"amount":
                        o = s(e, 2);
                        break;
                    case"amount_no_decimals":
                        o = s(e, 0);
                        break;
                    case"amount_with_comma_separator":
                        o = s(e, 2, ",", ".");
                        break;
                    case"amount_no_decimals_with_comma_separator":
                        o = s(e, 0, ",", ".");
                        break;
                    case"amount_no_decimals_no_comma_separator":
                        o = s(e, 0, "", "");
                        break;
                    case"amount_up_cents":
                        o = s(e, 2, ",", "", "<sup>", "</sup>");
                        break;
                    case"amount_no_comma_separator_up_cents":
                        o = s(e, 2, "", "", "<sup>", "</sup>")
                }
                return n.replace(i, o)
            },
            SECOMAPP.setCookie = function (e, t, o, r, i) {
                var n = new Date;
                n.setTime(n.getTime() + 24 * o * 60 * 60 * 1e3 + 60 * r * 1e3);
                var a = "expires=" + n.toUTCString();
                document.cookie = e + "=" + t + ";" + a + (i ? ";path=" + i : ";path=/")
            },
            SECOMAPP.deleteCookie = function (e, t) {
                document.cookie = e + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; " + (t ? ";path=" + t : ";path=/")
            },
            SECOMAPP.getCookie = function (e) {
                for (var t = e + "=", o = document.cookie.split(";"), r = 0; r < o.length; r++) {
                    for (var i = o[r]; " " == i.charAt(0);) i = i.substring(1);
                    if (0 == i.indexOf(t)) return i.substring(t.length, i.length)
                }
                return ""
            },
            SECOMAPP.getQueryString = function () {
                for (var e = {}, t = window.location.search.substring(1).split("&"), o = 0; o < t.length; o++) {
                    var r = t[o].split("=");
                    if (void 0 === e[r[0]]) e[r[0]] = decodeURIComponent(r[1]); else if ("string" == typeof e[r[0]]) {
                        var i = [e[r[0]], decodeURIComponent(r[1])];
                        e[r[0]] = i
                    } else e[r[0]].push(decodeURIComponent(r[1]))
                }
                return e
            },
            SECOMAPP.freegifts_product_json = function (e) {
                if (Array.isArray || (Array.isArray = function (e) {
                    return "[object Array]" === Object.prototype.toString.call(e)
                }), String.prototype.endsWith || Object.defineProperty(String.prototype, "endsWith", {
                    value: function (e, t) {
                        var o = this.toString();
                        (void 0 === t || t > o.length) && (t = o.length), t -= e.length;
                        var r = o.indexOf(e, t);
                        return -1 !== r && r === t
                    }
                }), e) {
                    if (e.options && Array.isArray(e.options)) for (var t = 0; t < e.options.length; t++) {
                        if (void 0 !== e.options[t] && void 0 !== e.options[t].values) if ((r = e.options[t]).values && Array.isArray(r.values)) for (var o = 0; o < r.values.length; o++) (r.values[o].endsWith("(Freegifts)") || r.values[o].endsWith("% off)")) && (r.values.splice(o, 1), o--)
                    }
                    if (e.options_with_values && Array.isArray(e.options_with_values)) for (t = 0; t < e.options_with_values.length; t++) {
                        var r;
                        if (void 0 !== e.options_with_values[t] && void 0 !== e.options_with_values[t].values) if ((r = e.options_with_values[t]).values && Array.isArray(r.values)) for (o = 0; o < r.values.length; o++) (r.values[o].title.endsWith("(Freegifts)") || r.values[o].title.endsWith("% off)")) && (r.values.splice(o, 1), o--)
                    }
                    var i = e.price, n = e.price_max, a = e.price_min, s = e.compare_at_price,
                        c = e.compare_at_price_max,
                        f = e.compare_at_price_min;
                    if (e.variants && Array.isArray(e.variants)) for (var p = 0; e.variants.length, void 0 !== e.variants[p]; p++) {
                        var l = e.variants[p],
                            u = l.option3 ? l.option3 : l.option2 ? l.option2 : l.option1 ? l.option1 : l.title ? l.title : "";
                        "undefined" != typeof SECOMAPP && void 0 !== SECOMAPP.gifts_list_avai && void 0 !== SECOMAPP.gifts_list_avai[l.id] || u.endsWith("(Freegifts)") || u.endsWith("% off)") ? (e.variants.splice(p, 1), p -= 1) : ((!n || n >= l.price) && (n = l.price, i = l.price), (!a || a <= l.price) && (a = l.price), l.compare_at_price && ((!c || c >= l.compare_at_price) && (c = l.compare_at_price, s = l.compare_at_price), (!f || f <= l.compare_at_price) && (f = l.compare_at_price)), void 0 !== l.available && 1 == l.available && (e.available = !0))
                    }
                    e.price = i, e.price_max = a == n ? null : a, e.price_min = n == a ? null : n, e.compare_at_price = s, e.compare_at_price_max = f, e.compare_at_price_min = c, e.price_varies = n < a, e.compare_at_price_varies = c < f
                }
                return e
            },
            SECOMAPP.fg_codes = [],
        "" !== SECOMAPP.getCookie("sca_fg_codes") && (SECOMAPP.fg_codes = JSON.parse(SECOMAPP.getCookie("sca_fg_codes")));
        var e = SECOMAPP.getQueryString();
        e.freegifts_code && -1 === SECOMAPP.fg_codes.indexOf(e.freegifts_code) && (void 0 !== SECOMAPP.activateOnlyOnePromoCode && !0 === SECOMAPP.activateOnlyOnePromoCode && (SECOMAPP.fg_codes = []), SECOMAPP.fg_codes.push(e.freegifts_code), SECOMAPP.setCookie("sca_fg_codes", JSON.stringify(SECOMAPP.fg_codes)))

    }();
    {% endraw %}

    ;SECOMAPP.customer = {};
    SECOMAPP.customer.orders = [];
    SECOMAPP.customer.freegifts = [];
    {% for order in customer.orders %}
        SECOMAPP.customer.orders.push({
            "financial_status": {{ order.financial_status | json }},
            "total_price": {{ order.total_price | json }},
            "created_at": "{{ order.created_at | date: '%s' }}"
        });
        {% for line_item in order.line_items %}
            {% if line_item.product.metafields.secomapp['freegifts.product_url'] or line_item.product.title contains '% off' or line_item.product.tags contains "freegifts" %}
                SECOMAPP.customer.freegifts.push({{ line_item.variant.id }});
            {% endif %}
            {% if line_item.discount_allocations[0].discount_application.title == 'FreeGift' %}
                SECOMAPP.customer.freegifts.push('{{ line_item.variant.id }}_{{ line_item.discount_allocations[0].amount }}');
            {% endif %}
        {% endfor %}
    {% endfor %};
    SECOMAPP.customer.email ={{ customer.email | json }};
    SECOMAPP.customer.first_name ={{ customer.first_name | json }};
    SECOMAPP.customer.last_name ={{ customer.last_name | json }};
    SECOMAPP.customer.tags ={{ customer.tags | json }};
    SECOMAPP.customer.orders_count ={{ customer.orders_count | json }};
    SECOMAPP.customer.total_spent ={{ customer.total_spent | json }};
    {% if customer.last_order.financial_status == 'paid' %}
        SECOMAPP.customer.last_order = '{{ customer.last_order.created_at }}';
        SECOMAPP.customer.last_total ={{ customer.last_order.total_price | json }};
    {% endif %}
    {% assign foundFreeGift = false %}{% if template contains 'cart' %}SECOMAPP.shopcart ={{ cart | json }};
    var cic = [];
    {% for item in cart.items %}
        {% if item.product.collections %}
            {% capture results %}
            [{% for collection in item.product.collections %}
                {{ collection.id | json }}
                {% unless forloop.last %},{% endunless %}{% endfor %}]
            {% endcapture %}cic[{{ item.id }}] ={{ results }};
        {% endif %}
    {% endfor %}
    SECOMAPP.cart_item_collection = cic;{% endif %}

    // get class name config from settings_data.json
    Shopify.scaHandleConfigValue={{ settings.sca_fg_handle_config | json }};
    Shopify.scaHandleConfig={"sca_fg_handle_config":"sca_fg_handle_config","sca_fg_cart_drawer_query":"sca_fg_cart_drawer_query","sca_fg_cart_icon_query":"sca_fg_cart_icon_query","sca_fg_form_checkout_wrapper_query":"sca_fg_form_checkout_wrapper_query","sca_fg_form_checkbox_button_query":"sca_fg_form_checkbox_button_query","sca_fg_btn_gift_thumbnail_query":"sca_fg_btn_gift_thumbnail_query","sca_fg_title_product_gift_icon_query":"sca_fg_title_product_gift_icon_query","sca_fg_img_collection_gift_icon_query":"sca_fg_img_collection_gift_icon_query","sca_fg_main_promotion_message_query":"sca_fg_main_promotion_message_query"}

    //add link proxy
    SECOMAPP.freegiftProxy="/apps/secomapp_freegifts_get_order?ver=3.0"

    //add product
    {% paginate collections.sca_fg_original_products.products by 100 %}
                    {% for product in collections.sca_fg_original_products.products %}
                        Shopify.products['{{ product.id }}'] = {{ product | json }};
                        Shopify.products['{{ product.id }}']['variants_quantity'] = {};
                        {% for variant in product.variants %}
                             Shopify.products['{{ product.id }}']['variants_quantity']['{{ variant.id }}'] = {{ variant.inventory_quantity }};
                        {% endfor %}
                  {% endfor %}
                {% endpaginate %};
</script>
{% comment %}render file change{% endcomment %}
{% capture the_snippet_content %}{% render 'freegifts-snippet-change' %}{% endcapture %}
{% unless the_snippet_content contains "Liquid error" %}
    {% render 'freegifts-snippet-change' %}
{% endunless %}
